/* 
div {
  background-color: coral;
  height: 100px;
} */


body {
  background-color: wheat;
  /* background-color: #000000; */
}


span {
  font-style: normal;
}

.color-rojo {
  color: red;
}

p, li {
  color: white;
}

#manzanas{
  color: aqua;
}

img {
  height: 400px;
  /* max-width: 200px; */
  border:  5px black solid;
  /* padding: 3000px; */
  /* margin: 50px; */
  border-radius: 10px;
}